<?xml version="1.0" encoding="UTF-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>

  <system.serviceModel>
    <serviceHostingEnvironment>
      <serviceActivations>
         <add factory="System.ServiceModel.Activation.ServiceHostFactory" relativeAddress="./HWrldSrvc.svc" service="MyWCFService.HWrldSrvc" />
      <!--<add service ="MyWCFService.HWrldSrvc" relativeAddress ="HWrldSrvc.svc"/> -->
      
      </serviceActivations>
    </serviceHostingEnvironment>

    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="true" />
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    
    <services>
      <service name="MyWCFService.HWrldSrvc=">
        <endpoint address="" binding="netTcpBinding" contract="MyWCFService.IHWrldSrvc" />
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost/HWrldSrvcTcp/" />
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>
</configuration>

