<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IHWrldSrvc" />
            </basicHttpBinding>
            <netTcpBinding>
                <binding name="NetTcpBinding_IHWrldSrvc" />
            </netTcpBinding>
        </bindings>
        <client>
            <!--<endpoint address="http://albatros/HWrldSrvcTcp/HWrldSrvc.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IHWrldSrvc"
                contract="HWrldSrvcRef.IHWrldSrvc" name="BasicHttpBinding_IHWrldSrvc" />-->
            <endpoint address="net.tcp://albatros/HWrldSrvcTcp/HWrldSrvc.svc"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IHWrldSrvc"
                contract="HWrldSrvcRef.IHWrldSrvc" name="NetTcpBinding_IHWrldSrvc">
                <identity>
                    <servicePrincipalName value="host/Albatros" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>