<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IHWrldSrvc" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:7860/HostDevServer/HWrldSrvc.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IHWrldSrvc"
                contract="IHWrldSrvc" name="BasicHttpBinding_IHWrldSrvc" />
        </client>
    </system.serviceModel>
</configuration>